*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 45.45%;
    padding: 10px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    margin-top: 300px;
    background-color: black;
    color: white;
}